@import "tailwindcss";
@config "../../tailwind.config.js";

/*
  https://www.realtimecolors.com/?colors=131a1b-f0f0f0-fad899-009485-272339&fonts=Nunito%20Sans-Nunito%20Sans
  Remember to validate:
    https://webaim.org/resources/contrastchecker/
    https://www.whocanuse.com/
    https://coolors.co/contrast-checker
*/
:root {
  --color-primary: #fad89a;
  --color-primary-dark: #f9ce88;
  --color-secondary: #263238;
  --color-accent: #009485;
  --color-background: #f0f0f0;
  --color-text: #131a1b;
  --color-text-light: #4f4f4f;
}

/* Dark mode theme (optional)
[data-theme="dark"] {
  --color-primary: #f59e0b;
  --color-secondary: #111827;
  --color-accent: #ff4500;
  --color-background: #1f2937;
  --color-text: #f9fafb;
}
*/
