@import "tailwindcss";
@config "../../tailwind.config.js";

/*
  https://www.realtimecolors.com/?colors=131a1b-f0f0f0-fad899-009485-272339&fonts=Nunito%20Sans-Nunito%20Sans
  Remember to validate:
    https://webaim.org/resources/contrastchecker/
    https://www.whocanuse.com/
    https://coolors.co/contrast-checker
*/
/* Yellow Primary
:root {
  --color-primary: #fad89a;
  --color-primary-dark: #f9ce88;
  --color-secondary: #263238;
  --color-accent: #009485;
  --color-background: #f0f0f0;
  --color-text: #131a1b;
  --color-text-light: #4f4f4f;
}
*/

/* Teal Primary */
:root {
  --color-primary: #009485;
  --color-primary-dark: #009485ba;
  --color-secondary: #263238;
  --color-accent: #fad89a;
  --color-accent-dark: #f9ce88;
  --color-accent-light: #fce4b8;
  --color-background: #f0f0f0;
  --color-text: #131a1b;
  --color-text-light: #4f4f4f;
  --color-action-primary: #2f3637;
  --color-error: #e53935;
  --color-error-light: #fdeded;
  --color-success: #2e7d32;
  --color-success-light: #edf7ed;
}

/* Dark mode theme (optional)
[data-theme="dark"] {
  --color-primary: #f59e0b;
  --color-secondary: #111827;
  --color-accent: #ff4500;
  --color-background: #1f2937;
  --color-text: #f9fafb;
}
*/

/* Phone number overrides */
.iti__search-input {
  padding: 8px 16px;
}
.iti {
  width: 100%;
}

/* Undo https://tailwindcss.com/docs/preflight */
.preflight-undo {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p {
    font-size: revert;
    font-weight: revert;
  }

  ol,
  ul,
  menu {
    list-style: revert;
    margin-left: 1rem;
  }

  p {
    margin: revert;
  }

  a {
    color: var(--color-primary-dark);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

.triffecta-fade-in {
  opacity: 0;
  transform: translateY(40px);
}

.triffecta-fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
  will-change: transform;
}
