---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="relative bg-white py-8">
    <div
      class="container mx-auto flex flex-col py-8 sm:flex-row sm:items-stretch sm:justify-between sm:px-8 md:px-12 lg:px-20"
    >
      <div class="w-full text-center">
        <h1 class="mb-8 text-6xl">Page Not Found</h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>
      </div>
    </div>
  </section>
</Layout>
