---
import Layout from "../layouts/Layout.astro";

import IconTriffecta from "../components/icon/IconTriffecta.tsx";

import FormContact from "../components/FormContact.tsx";

import { getImage, Picture } from "astro:assets";
import ImgHeroTop from "../assets/hero-top.png";
const optimizedImgHeroTop = await getImage({
  src: ImgHeroTop,
  format: "webp",
});
---

<Fragment slot="head">
  <link rel="preload" href={optimizedImgHeroTop.src} as="image" />
</Fragment>
<Layout>
  <section class="bg-secondary relative overflow-hidden py-18 text-white">
    <div class="relative z-10 container mx-auto">
      <div class="relative z-20">
        <div class="inline-block rounded-lg bg-[rgba(38,50,56,0.75)] p-4">
          <h1
            class="text-4xl font-bold text-wrap text-clip sm:text-5xl md:text-6xl"
          >
            Contact Us
          </h1>
        </div>
      </div>
      <div
        class="absolute top-[-20%] left-[-75%] z-10 sm:top-[-300%] sm:left-[-20%]"
      >
        <IconTriffecta
          size="1000px"
          strokeWidth="0.7"
          transform="rotate(212)"
        />
      </div>
    </div>

    <Picture
      id="hero"
      src={ImgHeroTop}
      formats={["webp", "avif", "png"]}
      widths={[480, 768, 1280, 1920]}
      sizes="100vw"
      alt="A picture of a woman shopping for groceries"
      fetchpriority="high"
      loading="eager"
      class="absolute top-0 left-0 z-0 h-full w-full object-cover object-top"
    />
  </section>

  <section class="mx-auto mb-8 py-6">
    <div class="relative container">
      <div class="lg:p-6">
        <p class="text-lg">
          If you have any inquiries or are curious about what Triffecta does,
          please send us a message and a member of our team will contact you
          shortly.
        </p>
      </div>
      <div
        class="mt-6 grid grid-cols-4 gap-4 sm:grid-cols-4 sm:gap-4 md:mt-0 lg:grid-cols-8 lg:gap-8"
      >
        <div
          class="order-last col-span-4 mt-6 text-lg sm:col-span-4 lg:order-first lg:col-span-3 lg:mt-0 lg:p-6"
        >
          <p>
            <a href="tel:+447790831528">07790 831528</a><br /><a
              class="text-primary-dark mt-4 hover:underline"
              href="mailto:sales@triffecta.com">sales@triffecta.com</a
            >
          </p>

          <p class="mt-6">
            Green Lea,<br />
            Mytholmroyd,<br />
            Hebden Bridge,<br />
            West Yorkshire,<br />
            HX7 5AW
          </p>

          <p class="mt-6">Company Number: 15554685</p>
        </div>
        <div
          class="order-first col-span-4 sm:col-span-4 lg:order-last lg:col-span-5 lg:p-6 lg:pb-0 2xl:mb-0"
        >
          <FormContact client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>
