---
import Layout from "../layouts/Layout.astro";
import IconTriffecta from "../components/icon/IconTriffecta.tsx";
import FormDataRoom from "../components/FormDataRoom.tsx";

import { getImage, Picture } from "astro:assets";
import ImgHeroData from "../assets/hero-data.png";

const optimizedImgHeroData = await getImage({
  src: ImgHeroData,
  format: "webp",
});

// DO NOT follow this page
const seo = {
  title: "Data Room",
  description: "Triffecta data room",
  path: "/data-room/",
  robots: "noindex, nofollow",
};
---

<Fragment slot="head">
  <link rel="preload" href={optimizedImgHeroData.src} as="image" />
</Fragment>
<Layout showNewsletter={false} seo={seo}>
  <section class="bg-secondary relative overflow-hidden py-18 text-white">
    <div class="relative z-10 container mx-auto">
      <div class="relative z-20">
        <div class="inline-block rounded-lg bg-[rgba(38,50,56,0.75)] p-4">
          <h1
            class="text-4xl font-bold text-wrap text-clip sm:text-5xl md:text-6xl"
          >
            <span class="text-accent-dark">Data</span> Room
          </h1>
        </div>
      </div>
      <div
        class="absolute top-[-20%] left-[-75%] z-10 sm:top-[-300%] sm:left-[-20%]"
      >
        <IconTriffecta
          size="1000px"
          strokeWidth="0.7"
          transform="rotate(212)"
        />
      </div>
    </div>

    <Picture
      id="hero"
      src={ImgHeroData}
      formats={["webp", "avif", "png"]}
      widths={[480, 768, 1280, 1920]}
      sizes="100vw"
      alt="A picture of a woman shopping for groceries"
      fetchpriority="high"
      loading="eager"
      class="absolute bottom-0 left-0 z-0 h-full w-full object-cover object-top"
    />
  </section>

  <section class="mx-auto pt-6">
    <div class="relative container">
      <div class="lg:p-6">
        <h2 class="mb-4 text-3xl font-bold">We’re Triffecta</h2>
        <p class="mb-4 text-lg">
          Triffecta Retail Media is a UK-based AdTech, retail media, CPG,
          marketing automation innovator.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">What We Do</h3>
        <p class="mb-4 text-lg">
          We provide brands and agencies with an innovative retail media
          platform that leverages AI-driven automation to unify campaign
          execution and maximise revenue potential.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">The Problem</h3>
        <p class="mb-4 text-lg">
          Triffecta is solving the retail media industry's inefficiency problem,
          where fragmented systems, manual workflows and inconsistent reporting
          waste budgets, reduce targeting accuracy and hinder scalability, by
          providing scalable, automated solutions that optimise performance and
          unlock full market potential. Triffecta's innovation integrates across
          all retail media networks for seamless, AI-driven campaign execution.
        </p>
        <h3 class="mt-4 mb-4 text-xl font-bold">The Solution</h3>
        <p class="mb-4 text-lg">
          A focus on retail media execution, at scale, for brands across a
          diverse network of retailers.
        </p>
        <p class="text-lg">
          Triffecta enables brands and agencies to scale and simplify retail
          media using our unified platform to plan, execute and optimise
          campaigns across all retail media networks from one interface.
        </p>
      </div>
    </div>
  </section>

  <FormDataRoom client:load />
</Layout>
