---
import Layout from "../layouts/Layout.astro";
import FormSignupDemo from "../components/FormSignupDemo.jsx";
---

<Layout>
  <section class="relative bg-white py-8"></section>

  <section class="bg-secondary relative py-18 text-white">
    <div class="container mx-auto">
      <h1 class="text-5xl font-bold text-wrap text-clip md:text-6xl">
        Revolutionising Retail Media
      </h1>
      <p class="text-primary mt-4 text-5xl font-bold">
        Simplified, Scalable, Smarter
      </p>
      <p class="mt-6 mb-6 text-lg">
        Unlock the full potential of retail media with the only aggregator
        designed specifically for retailers.
      </p>
      <a
        href="#demo-signup"
        class="bg-primary-dark text-text rounded-lg px-15 py-2"
      >
        Request a Demo
      </a>
    </div>
  </section>

  <section class="bg-primary-dark p-1.25"></section>

  <section class="container mx-auto my-15">
    <div
      class="grid grid-cols-6 gap-4 sm:grid-cols-6 sm:gap-4 lg:grid-cols-12 lg:gap-8"
    >
      <div class="col-span-6 sm:col-span-3 lg:col-span-4 lg:p-6">
        <div class="rounded-2xl bg-white p-6 pt-40 pb-40 shadow"></div>
        <h2 class="mt-6 text-xl font-bold">One Platform, All Publishers</h2>
        <p class="text-text-light mt-2 text-lg">
          Execute and manage campaigns effortlessly across multiple retail media
          networks—no more juggling multiple logins or platforms.
        </p>
      </div>
      <div class="col-span-6 sm:col-span-3 lg:col-span-4 lg:p-6">
        <div class="rounded-2xl bg-white p-6 pt-40 pb-40 shadow"></div>
        <h2 class="mt-6 text-xl font-bold">Unified, Actionable Insights</h2>
        <p class="text-text-light mt-2 text-lg">
          Access consolidated, standardized data in real time to make smarter
          decisions, faster. Our robust reporting and analytics empower you to
          act on insights with confidence.
        </p>
      </div>
      <div class="col-span-6 sm:col-span-3 lg:col-span-4 lg:p-6">
        <div class="rounded-2xl bg-white p-6 pt-40 pb-40 shadow"></div>
        <h2 class="mt-6 text-xl font-bold">AI-Driven Efficiency</h2>
        <p class="text-text-light mt-2 text-lg">
          Leverage machine learning and automation to optimize campaigns at
          scale. Focus on strategic growth while our intelligent technology
          handles the heavy lifting.
        </p>
      </div>
    </div>
  </section>

  <section class="relative bg-white py-10">
    <div class="container mx-auto">
      <section
        class="grid grid-cols-6 gap-4 sm:grid-cols-6 sm:gap-4 lg:grid-cols-12 lg:gap-8"
      >
        <div class="col-span-6 sm:col-span-3 lg:col-span-4 lg:p-6"></div>
        <div class="col-span-6 sm:col-span-3 lg:col-span-8 lg:p-6">
          <h2 class="text-4xl font-bold">Why Triffecta?</h2>
          <ul class="mt-6 space-y-8">
            <li class="flex">
              <span class="text-primary-dark mt-1 text-xl sm:mt-2.5">▼</span>
              <p class="ml-2 text-lg">
                <span class="font-bold">Built for Retailers:</span> We understand
                the nuances of retail media and have designed every feature with
                your needs in mind.
              </p>
            </li>
            <li class="flex">
              <span class="text-primary-dark mt-1 text-xl sm:mt-2.5">▼</span>
              <p class="ml-2 text-lg">
                <span class="font-bold">Scalable Solutions:</span> Whether you’re
                managing a single store or multiple brands, our platform adapts to
                your growth.
              </p>
            </li>
            <li class="flex">
              <span class="text-primary-dark mt-1 text-xl sm:mt-2.5">▼</span>
              <p class="ml-2 text-lg">
                <span class="font-bold">Seamless Onboarding & Support: </span> Our
                dedicated customer success team is here to ensure you’re up and running
                in no time.
              </p>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </section>

  <section class="bg-primary-dark p-1.25"></section>

  <section class="container mx-auto my-15">
    <div class="rounded-2xl bg-white p-6 py-8">
      <p class="text-lg">
        “Since partnering with Triffecta, we’ve seen a 40% increase in campaign
        efficiency across all our retail media channels.”
      </p>
      <div class="mt-12 flex items-center">
        <div class="bg-primary mr-5 h-11 w-11 rounded-full p-5"></div>
        <div class="flex flex-col">
          <span class="font-semibold">Retail Media Manager</span>
          <span class="text-text-light">National Grocery Chain</span>
        </div>
      </div>
    </div>
  </section>

  <section class="relative bg-white py-18">
    <div class="container mx-auto">
      <h2 class="text-6xl font-bold">
        Ready to <span class="text-primary-dark">Simplify</span>, <span
          class="text-primary-dark">Scale</span
        >, and <span class="text-primary-dark">Succeed</span>?
      </h2>
      <p class="mt-6 mb-6 text-lg">
        Discover how Triffecta can revolutionize your retail media campaigns.
      </p>
      <a
        href="#demo-signup"
        class="bg-primary-dark text-primary-dark text-text rounded-lg px-15 py-2"
      >
        Request a Demo
      </a>
    </div>
  </section>

  <section class="bg-primary-dark p-1.25"></section>

  <section class="container mx-auto my-15 lg:flex lg:justify-center">
    <FormSignupDemo client:visible />
  </section>
</Layout>
