---

---

<section class="container mx-auto mt-15">
  <div
    class="grid grid-cols-4 gap-4 sm:grid-cols-4 sm:gap-4 lg:grid-cols-8 lg:gap-8"
  >
    <div class="col-span-4 sm:col-span-5 lg:col-span-3 lg:p-6">
      <h2 class="text-4xl font-bold">Book a product demo</h2>
      <p class="mt-18 text-xl">
        Use the calendar to schedule a call with one of our experts.
      </p>
      <p class="mt-2 text-xl font-bold">Let’s discuss how to:</p>
      <ul class="mt-6 space-y-3">
        <li class="flex">
          <span class="text-accent-dark text-xl sm:mt-1">▼</span>
          <p class="ml-2 text-lg">
            Setup a frictionless campaign in under <span class="font-bold"
              >one minute</span
            >
          </p>
        </li>
        <li class="flex">
          <span class="text-accent-dark text-xl sm:mt-1">▼</span>
          <p class="ml-2 text-lg">
            <span class="font-bold">Optimize</span> tracking to scale performance
            effortlessly
          </p>
        </li>
        <li class="flex">
          <span class="text-accent-dark text-xl sm:mt-1">▼</span>
          <p class="ml-2 text-lg">
            Reach key performance metrics with <span class="font-bold"
              >real-time data</span
            >
          </p>
        </li>
      </ul>
    </div>
    <div
      class="col-span-4 mb-12 h-[720px] sm:col-span-3 lg:col-span-5 lg:p-6 lg:pb-0 2xl:mb-0"
    >
      <div class="flex items-center justify-center">
        <div
          class="relative w-full rounded-2xl bg-white p-8 pb-0 2xl:top-[-90px] 2xl:bg-transparent"
        >
          <!-- Calendly inline widget begin   -->
          <div
            class="calendly-inline-widget"
            data-url="https://calendly.com/triffecta/demo?hide_event_type_details=1&hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=009485"
            style="min-width:320px;height:700px;"
          >
          </div>
          <script
            type="text/javascript"
            src="https://assets.calendly.com/assets/external/widget.js"
            async></script>
          <!-- Calendly inline widget end -->
        </div>
      </div>
    </div>
  </div>
</section>
