---
import "../styles/global.css";
import Header from "../components/Header.jsx";
import FormSubscribeNewsletter from "../components/FormSubscribeNewsletter.jsx";
import LogoTriffecta from "../components/LogoTriffecta.jsx";
import IconLinkedIn from "../components/IconLinkedIn.jsx";
import IconTwitter from "../components/IconTwitter.jsx";

// TODO: When using Prod switch
const base = "/marketing-site/";
//const base = "/";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- When not hosted on domain -->
    <base href={base} />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="generator" content={Astro.generator} />
    <title>Triffecta | Revolutionizing Retail Media</title>
    <meta
      name="description"
      content="Triffecta | Revolutionizing Retail Media"
    />

    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1LG8PF9LR"></script>
    TODO: SEO tags... <meta property="og:title" content="">
    -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href={`${base}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${base}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <meta name="theme-color" content="#fad89a" />
    <link rel="manifest" href="site.webmanifest" />
  </head>
  <body class="bg-background">
    <Header client:load />

    <main>
      <slot />
    </main>

    <footer class="bg-white">
      <section class="bg-triffecta-gradient p-1.25"></section>

      <div
        class="container mx-auto flex flex-col py-8 sm:flex-row sm:items-stretch sm:justify-between sm:px-8 md:px-12 lg:px-20"
      >
        <div class="mb-8 flex-1 sm:mb-0">
          <FormSubscribeNewsletter client:visible />
        </div>
        <div class="flex flex-1 flex-col items-end justify-between pl-10">
          <a href="#top" class="mb-8 text-center lg:mb-0">
            <LogoTriffecta />
          </a>
          <div class="flex flex-col items-end space-y-2">
            <div>
              <div class="flex space-x-4">
                <a href="https://linkedin.com" target="_blank">
                  <IconLinkedIn />
                </a>
                <a href="https://x.com" target="_blank">
                  <IconTwitter />
                </a>
              </div>
            </div>
            <p>© 2025 Triffecta. All rights reserved.</p>
            <div>
              <a href="privacy" class="hover:underline">Privacy Policy</a>
              <span>|</span>
              <a href="cookies" class="hover:underline">Cookie Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
