---
import "../styles/global.css";
const base = "/marketing-site/";
//const base = "/";
---
<!doctype html>
<html lang="en">
	<head>
    <!-- When not hosted on domain -->
    <base href={base} />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="generator" content={Astro.generator} />
		<title>Triffecta | Revolutionizing Retail Media</title>
    <meta name="description" content="Triffecta | Revolutionizing Retail Media">

    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1LG8PF9LR"></script>
    TODO: SEO tags... <meta property="og:title" content="">
    -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <link rel="icon" href={`${base}favicon.ico`} sizes="any"/>
    <link rel="icon" href={`${base}favicon.svg`} type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/icon.png">

    <meta name="theme-color" content="#fad89a">
    <link rel="manifest" href="site.webmanifest">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
